<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1><%= title%></h1>
	<a href="../../test"><button class="btn btn-secondary">Edit pet profile</button></a> <!-- TODO: Change to actual edit path -->
	<a href="../../test"><button class="btn btn-secondary">Back</button></a> <!-- TODO: Change to actual pets path -->
	<br /><br />
	<form id="html_form" role="form" method="post">
		<div id="pet-info">
			<p><b>Category: </b><%= category%></p>
			<p><b>Special requirements: </b><%= requirements%></p>
		</div>
		<div class="form-group">
			<label for="s_date">Start Date</label>
			<input type="text" class="form-control" id="s_date" name="s_date" placeholder="yyyy-mm-dd" value=<%= s_date%> >
			<label for="e_date">End Date</label>
			<input type="text" class="form-control" id="e_date" name="e_date" placeholder="yyyy-mm-dd" value=<%= e_date%> >
			<button type="submit" class="btn btn-primary">Find care takers</button>
			<br />
			<% if (sDateErr !== "") { %>
				<small id="sDateErr" class="err"><%= sDateErr%></small>
			<% } %>
			<br />
			<% if (eDateErr !== "") { %>
				<small id="eDateErr" class="err"><%= eDateErr%></small>
			<% } %></div>
		<button type="button" class="btn btn-secondary" id="filter-btn" name="filter-btn">Filter for care takers</button>
		<br /><br />
		<table id="caretakers" class="table">
			<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Name</th>
				<th scope="col">Average rating</th>
				<th scope="col">Category</th>
				<th scope="col">Daily price</th>
				<th scope="col"><!-- view --></th>
				<th scope="col"><!-- request --></th>
			</tr>
			</thead>
			<tbody>
			<% for (var i=0; i<careTakers.length; i++) { %>
				<tr>
					<td><%= careTakers[i].userid %></td>
					<td><%= careTakers[i].name %></td>
					<td><%= careTakers[i].rating %></td>
					<td><%= careTakers[i].category %></td>
					<td><%= careTakers[i].daily_price %></td>
					<td><a href="../../test" target="_blank"><button class="btn btn-primary">View</button></a></td> <!-- TODO: Change to actual view path -->
					<td><a><button class="btn btn-primary">Request</button></a></td> <!-- TODO: Should be an action that posts -->
				</tr>
			<% } %>
			</tbody>
		</table>
	</form>
  </body>
</html>