<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	  <script>
		  const toggleFilter = () => {
		  	let f = document.getElementById("filter-panel");
		  	let b = document.getElementById("show-filter-btn");
		  	if (f.style.display === "none") {
		  		f.style.display = "block";
		  		b.innerText = "Hide filter panel";
				document.getElementById("toggle_filter").value = "block";
			} else {
		  		f.style.display = "none";
		  		b.innerText = "Show filter panel";
				document.getElementById("toggle_filter").value = "none";
			}
		  }
		  const toggleExperienceIn = () => {
		  	let show = document.getElementById("can_take_care").checked;
		  	if (show) {
		  		document.getElementById("experience-in-panel").style.display = "block";
			} else {
		  		document.getElementById("experience-in-panel").style.display = "none";
		  		document.getElementById("pc_experience").checked = false;
			}
		  	toggleExperienceRate();
		  }
		  const toggleExperienceRate = () => {
		  	let show = document.getElementById("pc_experience").checked;
		  	if (show) {
		  		document.getElementById("experience-rating-panel").style.display = "block";
			} else {
				document.getElementById("experience-rating-panel").style.display = "none";
				document.getElementById("pc_avg_rate").value = 0;
			}
		  }
		  const toggleUserColl = () => {
		  	let show = document.getElementById("user_coll").value === 'confirmed';
		  	if (show) {
		  		document.getElementById("coll-panel").style.display = "block";
			} else {
		  		document.getElementById("coll-panel").style.display = "none";
		  		document.getElementById("my_avg_rate").value = 0;
		  		document.getElementById("pet_coll").value = "";
			}
		  }
		  const initializeWindow = () => {
			  toggleExperienceIn();
			  toggleUserColl();
		  }
		  window.onload = initializeWindow;
		  const toggleEdit = () => {
		  	document.getElementById("save-edit").style.display = "inline";
		  	document.getElementById("edit-btn").style.display = "none";
		  	document.getElementById("request-display").style.display = "none";
		  	document.getElementById("request-form").style.display = "block";
		  }
	  </script>
  </head>
  <body>
    <h1><%= title%></h1>
	<p><b>Start date: </b><%= s_date%><span style="padding-left: 30px"></span><b>End date: </b><%= e_date%></p>
	<button class="btn btn-secondary" type="button" id="edit-btn" onclick="toggleEdit()">Edit request</button>
	<button class="btn btn-secondary" form="html_form" style="display: none" type="submit" id="save-edit" formaction="<%=s_date%>/edit">Save changes</button>
	<button class="btn btn-secondary" form="html_form" formaction="<%=s_date%>/delete">Delete request</button>
	<button class="btn btn-secondary" form="html_form" formaction="<%=s_date%>/back">Back</button>
	<br /><br />
	<div id="request-info">
		<div id="request-display">
			<p><b>Transfer type: </b><%= transfer_type%></p>
			<p><b>Peyment method: </b><%= payment_method%></p>
		</div>
		<div id="request-form" style="display: none">
			<label for="select-transfer-type">Transfer type: </label>
			<select name="transfer" class="form-control" style="width: 30%; display: inline-flex" id="select-transfer-type">
				<option value="deliver" <%=transfer_type === 'deliver' ? 'selected' : ''%>>deliver</option>
				<option value="pick-up" <%=transfer_type === 'pick-up' ? 'selected' : ''%>>pick-up</option>
				<option value="transfer at building" <%=transfer_type === 'transfer at building' ? 'selected' : ''%>>transfer at the PSC building</option>
			</select>
			<br />
			<label for="select-payment-method">Paymen method: </label>
			<select name="payment" class="form-control" style="width: 30%; display: inline-flex" id="select-payment-method">
				<option value="card" <%=payment_method === 'card' ? 'selected' : ''%>>card</option>
				<option value="cash" <%=payment_method === 'cash' ? 'selected' : ''%>>cash</option>
			</select>
		</div>
	</div>
	<div id="existing-list">
		<table class="table">
			<thead>
				<tr><th scope="colgroup" colspan="6">Requests submitted</th></tr>
				<tr>
					<th scope="col">Care Taker ID</th>
					<th scope="col">Category</th>
					<th scope="col">Average Rating</th>
					<th scope="col">Cost</th>
					<th scope="col">Status</th>
					<th scope="col"><!-- Withdraw --></th>
				</tr>
			</thead>
			<tbody>
			<% for (var i=0; i<existing_transactions.length; i++) { %>
				<tr>
					<td><%= existing_transactions[i].ct_id%></td>
					<td><%= existing_transactions[i].ct_category%></td>
					<td><%= Math.round(existing_transactions[i].rating * 10) / 10%></td>
					<td><%= existing_transactions[i].cost%></td>
					<td><%= existing_transactions[i].status%></td>
					<td><button type="submit" class="btn btn-secondary" form="html_form" formaction="<%=s_date%>/<%=existing_transactions[i].ct_id%>/withdraw" <%= existing_transactions[i].status === 'Declined' ? 'disabled' : ''%>>Withdraw</button></td>
				</tr>
			<% } %>
			</tbody>
		</table>
	</div>
    <form id="html_form" role="form" method="post">
		<button type="submit" class="btn btn-primary" formaction="<%=s_date%>/allocate">Allocate any care taker to me</button>
		<button type="submit" class="btn btn-primary" formaction="<%=s_date%>/request_all">Send request to all care takers in the filtered list</button>
		<button type="button" class="btn btn-primary" id="show-filter-btn" onclick="toggleFilter()"><%=toggle_filter==='none' ? 'Show' : 'Hide'%> filter panel</button>
		<input id="toggle_filter" name="toggle_filter" type="hidden" value="<%=toggle_filter%>">
		<% if (allocate_unsuccessful_msg !== "") { %>
			<br />
			<small id="allocate_unsuccessful_msg" class="err"><%= allocate_unsuccessful_msg%></small>
		<% } %>
		<div id="filter-panel" style="display: <%=toggle_filter%>;>">
			<br />
			<div id="filter-form" class="form-group">
				<div id="identity-filter-form" class="form-group">
					<label for="ct_id_contains">Care Taker ID contains: </label>
					<input type="text" class="form-control" id="ct_id_contains" name="ct_id_contains" style="width: 25%; display: inline-flex" value="<%=id_contains%>">
					<label for="ct_name_contains" style="padding-left: 30px">Care Taker name contains: </label>
					<input type="text" class="form-control" id="ct_name_contains" name="ct_name_contains" style="width: 25%; display: inline-flex" value="<%=name_contains%>">
				</div>
				<div id="performance-filter-form" class="form-group">
					<label for="ft_pt">Care Taker Type: </label>
					<select class="form-control" id="ft_pt" name="ft_pt" style="width: 150px; display: inline-flex">
						<option value="" <%=ft_pt || ft_pt === '' ? 'selected' : ''%>></option>
						<option value="full_time" <%=ft_pt && ft_pt === 'full_time' ? 'selected' : ''%>>full-time</option>
						<option value="part_time" <%=ft_pt && ft_pt === 'part_time' ? 'selected' : ''%>>part-time</option>
					</select>
					<label for="avg_rate" style="padding-left: 30px">Average rating >= </label>
					<input type="number" step=".1" class="form-control" id="avg_rate" name="avg_rate" style="width: 25%; display: inline-flex" value="<%=avg_rate%>">
				</div>
				<div id="experience-filter-form" class="form-group">
					<input type="checkbox" name="can_take_care" id="can_take_care" value="true" <%=can_take_care ? 'checked' : ''%> onchange="toggleExperienceIn()">
					<label for="can_take_care">Confirmed can take care of <%=category%>? </label>
					<div id="experience-in-panel" class="form-group">
						<label for="daily_price">Daily price <= </label>
						<input type="number" step="10" class="form-control" id="daily_price" name="daily_price" style="width: 25%; display: inline-flex" value="<%=daily_price%>">
						<br />
						<input type="checkbox" name="pc_experience" id="pc_experience" value="true" <%=pc_experience ? 'checked' : ''%> onchange="toggleExperienceRate()">
						<label for="pc_experience">Experience in taking care of <%=category%>? </label>
						<div id="experience-rating-panel" class="form-group">
							<label for="pc_avg_rate">Average rating of <%=category%> >= </label>
							<input type="number" step=".1" class="form-control" id="pc_avg_rate" name="pc_avg_rate" style="width: 25%; display: inline-flex" value="<%=pc_avg_rate%>">
						</div>
					</div>
				</div>
				<div id="collaboration-filter-form" class="form-group">
					<label for="user_coll">Collaboration history: </label>
					<select class="form-control" id="user_coll" name="user_coll" style="width: 300px; display: inline-flex" onchange="toggleUserColl()">
						<option value="" <%=user_coll || user_coll === '' ? 'selected' : ''%>></option>
						<option value="requested" <%=user_coll && user_coll === 'requested' ? 'selected' : ''%>>Have requested transactions</option>
						<option value="confirmed" <%=user_coll && user_coll === 'confirmed' ? 'selected' : ''%>>Have confirmed transactions</option>
					</select>
					<div id="coll-panel" class="form-group">
						<label for="my_avg_rate">Average rating of by me >= </label>
						<input type="number" step=".1" class="form-control" id="my_avg_rate" name="my_avg_rate" style="width: 25%; display: inline-flex" value="<%=my_avg_rate%>">
						<label for="pet_coll">Collaboration history on the pet: </label>
						<select class="form-control" id="pet_coll" name="pet_coll" style="width: 300px; display: inline-flex">
							<option value="" <%=pet_coll || pet_coll === '' ? 'selected' : ''%>></option>
							<option value="requested" <%=pet_coll && pet_coll === 'requested' ? 'selected' : ''%>>Have requested transactions</option>
							<option value="confirmed" <%=pet_coll && pet_coll === 'confirmed' ? 'selected' : ''%>>Have confirmed transactions</option>
						</select>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary" formaction="<%=s_date%>/show_filtered">Show filter results</button>
		</div>
		<br /><br />
		<div id="ct-list">
			<table class="table">
				<thead>
					<tr><th scope="colgroup" colspan="6">All care takers with filtered conditions</th></tr>
					<tr>
						<th scope="col">Care Taker ID</th>
						<th scope="col">Name</th>
						<th scope="col">Category</th>
						<th scope="col">Average Rating</th>
						<th scope="col">Daily price</th>
						<th scope="col"><!-- Request --></th>
					</tr>
				</thead>
				<tbody>
				<% for (var i=0; i<care_takers.length; i++) { %>
					<tr>
						<td><%=care_takers[i].userid%></td>
						<td><%=care_takers[i].name%></td>
						<td><%=care_takers[i].category%></td>
						<td><%=Math.round(care_takers[i].rating * 10) / 10%></td>
						<td><%=care_takers[i].daily_price%></td>
						<td><button type="submit" class="btn btn-primary" formaction="<%=s_date%>/<%=care_takers[i].userid%>/request">Request</button></td>
					</tr>
				<% } %>
				</tbody>
			</table>
		</div>
	</form>
  </body>
</html>