<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	  <script>
		  const toggleFilter = () => {
		  	let f = document.getElementById("filter-panel");
		  	let b = document.getElementById("show-filter-btn");
		  	if (f.style.display === "none") {
		  		f.style.display = "block";
		  		b.innerText = "Hide filter/sort panel";
			} else {
		  		f.style.display = "none";
		  		b.innerText = "Show filter/sort panel";
			}
		  }
	  </script>
  </head>
  <body>
    <h1><%= title%></h1>
	<a href="../../../test"><button class="btn btn-secondary">Edit request</button></a> <!-- TODO: Change to actual edit path -->
	<button class="btn btn-secondary">Delete request</button> <!-- TODO: Should be handled with a form and post method -->
	<button class="btn btn-secondary">Back</button> <!-- TODO: Handle with form submit to check if empty -->
    <br /><br />
	<div id="request-info">
		<p><b>Start date: </b><%= s_date%><span style="padding-left: 30px"></span><b>End date: </b><%= e_date%></p>
		<p><b>Transfer type: </b><%= transfer_type%><span style="padding-left: 30px"></span> <b>Payment method: </b><%= payment_method%></p>
	</div>
	<div id="existing-list">
		<table class="table">
			<thead>
				<tr><th scope="colgroup" colspan="6">Requests submitted</th></tr>
				<tr>
					<th scope="col">Care Taker ID</th>
					<th scope="col">Category</th>
					<th scope="col">Average Rating</th>
					<th scope="col">Cost</th>
					<th scope="col">Status</th>
					<th scope="col"><!-- Withdraw --></th>
				</tr>
			</thead>
			<tbody>
			<% for (var i=0; i<existing_transactions.length; i++) { %>
				<tr>
					<td><%= existing_transactions[i].ct_id%></td>
					<td><%= existing_transactions[i].ct_category%></td>
					<td><%= existing_transactions[i].rating%></td>
					<td><%= existing_transactions[i].cost%></td>
					<td><%= existing_transactions[i].status%></td>
					<td><button type="button" class="btn btn-secondary" <%= existing_transactions[i].status === 'Declined' ? 'disabled' : ''%>>Withdraw</button></td> <!-- TODO: Handle withdraw -->
				</tr>
			<% } %>
			</tbody>
		</table>
	</div>
    <form id="html_form" role="form" method="post">
		<button type="submit" class="btn btn-primary" formaction="<%=s_date%>/allocate">Allocate any care taker to me</button>
		<button type="submit" class="btn btn-primary">Send request to all care takers in the filtered list</button> <!-- TODO: Should be handled with a form and post method -->
		<button type="button" class="btn btn-primary" id="show-filter-btn" onclick="toggleFilter()">Show filter/sort panel</button>
		<% if (allocate_unsuccessful_msg !== "") { %>
			<br />
			<small id="allocate_unsuccessful_msg" class="err"><%= allocate_unsuccessful_msg%></small>
		<% } %>
		<div id="filter-panel" style="display: none">
			<p>here</p>
		</div>
	</form>
  </body>
</html>